<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" [routerLink]="['/home']">
        <strong>NDEW</strong>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/registration']">Customer Registration</a></li>
        <li><a [routerLink]="['/customerDetails']">Customer Details</a></li>
      </ul>
      <button class="btn btn-primary navbar-btn navbar-right" [routerLink]="['/login']">Logout</button>
    </div>
  </div>
</nav>


<div class="row" style="margin-top: 40px;" >
  <div class="container" >
    <div class="panel-default" style="padding-top: 40px;" >
      <div class="panel-body" class="grid-container">
        
        <table class="table table-striped" *ngFor="let customer of newModel" >
            <div class="panel panel-default">
              <div class="panel-body" align="center">
                <tr>
                  <th>Name</th>
                  <td>{{customer.name}}</td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td>{{customer.phone}}</td>
                <tr>  
                  <th>Address</th>
                  <td>{{customer.address}}</td>
                </tr>
              </div>
            </div>
        </table>
      </div>
    </div>
  </div>
</div>
