
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" [routerLink]="['/home']">
        <strong>NDEW</strong>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/registration']">Customer Registration</a></li>
        <li><a [routerLink]="['/allCustomersData']">All Customers</a></li>
      </ul>
      <button class="btn btn-primary navbar-btn navbar-right" [routerLink]="['/login']">Logout</button>
    </div>
  </div>
</nav>

<div >
  <h1>Enter the customer id or phone number to get the details : </h1>
  <label>Customer Id : </label>
    <input type="text" name="customerId" class="form-control" [(ngModel)]="customerId"><br>
  <button class="btn btn-primary" type="submit" (click)="viewDetails()">View Details</button><br><br>

  <label>Phone No : </label>
    <input type="text" name="phone" class="form-control" [(ngModel)]="phone"><br>
  <button class="btn btn-primary" type="submit" (click)="getCustomerByPhoneNo()">View Details</button><br><br>
  
  <table class="table table-striped" *ngFor="let customer of newModel">
    <tr>
      <th>Name</th>
      <td>{{customer.name}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{customer.phone}}</td>
    <tr>
      <th>Address</th>
      <td>{{customer.address}}</td>
    </tr>
    <tr>
      <td><button class="btn btn-primary" [routerLink]="['/addProduct']">Add Products</button></td>
      <td><button class="btn btn-primary" [routerLink]="['/productDetails']">View Products</button></td><br><br><br><br>
    </tr>
  </table>

  

</div>
